#navbar {
    a{
        display: flex;
        align-items: center;
        &.my_account{
            position: absolute;
            right: 100px;
        }
    }
    .logout, .register{ 
        position: absolute;
        right: 125px;
        cursor: pointer;
    }
    .register {
        right: 100px;
    }
    .logoContainer {
        background-color: #000000;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}