#navbar {
    a{
        display: flex;
        align-items: center;
    }
    .logoContainer {
        background-color: #000000;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}