#orderPage {
    flex-direction: column;
    .stepContainer {
        min-width: 90%;
        max-width: 1024px;
        margin: 3rem auto auto;
        box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
        overflow: hidden;
        background-color: #fff;
        justify-content: space-evenly;
        .step {
            border-radius: 50%;
            border: 1px solid #888;
            width: 100px;
            height: 100px;
            margin: 2rem 0;
            font-size: .8rem;
            cursor: pointer;
            &.active {
                border: 1px solid orangered;
                background-color: orange;
                color: #fff;
            }
        }
    }
    .btnHandler {
        margin: 1rem auto 2rem;
        column-gap: 1rem;
    }
    .next {
        margin: auto;
    }
}