#orderPage {
    flex-direction: column;
    .stepContainer {
        min-width: 90%;
        max-width: 1024px;
        margin: 3rem auto auto;
        box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
        overflow: hidden;
        background-color: #fff;
        justify-content: space-evenly;
        .step {
            border-radius: 50%;
            border: 1px solid #888;
            width: 100px;
            height: 100px;
            margin: 2rem 0;
            font-size: .8rem;
            cursor: pointer;
            &.active {
                border: 1px solid orangered;
                background-color: orange;
                color: #fff;
            }
        }
    }
    .btnHandler {
        margin: 1rem auto 2rem;
        column-gap: 1rem;
    }
    .next {
        margin: auto;
    }
}

#delivery {
    flex-direction: column;
    .confirmation {
        .close {
            border: none;
            background-color: #000;
            width: fit-content;
            border-bottom-left-radius: 2rem;
            padding: 1rem;
            color: #fff;
            cursor: pointer;
            position: absolute;
            top: 0%;
            right:0;
            transition: .11s ease-out;
            &:hover {
                font-size: 1.3rem;
                background-color: orange;
            }
        }
    }
}

#delivery-options {
    .pay-method,
    .pickup-method,
    .courier-method {
        margin-left: .85rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: start;
        align-items: center;
    }
    
    .container {
        h2 {
            margin-bottom: 1rem;
        }
        flex-direction: column;
        min-width: 90%;
        max-width: 1024px;
        margin: auto;
        box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
        overflow: hidden;
        background-color: #fff;
        justify-content: space-evenly;
        padding: 2rem;
    }

}

.off {
    opacity: .35;
    pointer-events: none;
    cursor: not-allowed;
}

#summaryOrder {
    .productsTable {
        flex-direction: column;
        grid-column-start: 1;
        grid-column-end: 3;
        .product {
            width: 100%;
            border-bottom: 1px solid #ebebeb;
            padding: 1rem 0;
        }
        .th {
            width: 100%;
            padding-bottom: .5rem;
            border-bottom: 1px solid #ebebeb;
            div {
                border-right: 1px solid #ebebeb;
                &:last-child {
                    border-right: 0;
                }
            }
        }
        img {
            box-shadow: none;
            height: fit-content;
            border-radius: 0;
        }
        .th,
        .product {
            div:nth-of-type(1){
                flex: 1;
            }
            div:nth-of-type(2){
                flex: 3;
            }
            div:nth-of-type(3){
                flex: .65;
            }
            div:nth-of-type(4){
                flex: 1;
            }
            div {
                padding: 0 .25rem;
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                }
            }
        }
        
    }
}

.deliveryTable,
.paysumTable {
    grid-column-start: 1;
    grid-column-end: 3;
    p { 
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
        border-bottom: 1px solid #ebebeb;
        width: 100%;
    }
}

.paysumTable {
    flex-direction: column;
}