.prod-slider.product-list {
    display: block;
    margin: 8rem 0;
    h2 {
        padding-bottom: 2rem;
        text-align: center;
        text-transform: capitalize;
    }
}

.prod-slider .slick-slide{
    padding: .25rem;
}