.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 1rem;
    row-gap: 1rem;
    place-items: center;
    margin: 5rem;
    .product {
        min-height: 60vh;
        height: 100%;
        max-width: 350px;
        margin: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        padding: 1rem;
        border-radius: .5rem;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        transition: .2s ease-in-out;
        &:hover {
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; 
        }
        .imageContent {
            position: relative;
            max-height: 300px;
            min-height: 300px;
            flex: 4;
            overflow: hidden;
            a{
                height: 100%;
                display: flex;
            }
            img {
                display: block;
                width: 100%;
                max-height: 100%;
                object-fit: contain;
            }
        }
        .title,.description,.imageContent, .rating, .price, .addToCart{
            position: relative;
        }
        .title,.description, .rating, .price, .addToCart{
            flex: 1;
        }
        .title {
            padding: .5rem 0;
            min-height: 20px;
            display: flex;
            align-items: center;
            a {
                display: block;
                height: fit-content;
                text-decoration: none;
                color: #000;
                line-height: 1;
            }
        }
        .description {
            font-size: .85rem;
            min-height: 70px;
        }
        .items {
            min-height: 20px;
            display: flex;
            justify-content: space-between;
            p {
                font-weight: 300;
                &.brand {
                    &:after {
                        content: "®";
                        display: inline-block;
                        height: 100%;
                    }
                }
                &.department {
                    color: orange;
                    font-weight: 600;
                }
            }
        }
        .rating {
            
            position: absolute;
            top: 89%;
            right: 0%;
            opacity: .75;
        }
        .price {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 20px;
            p { 
                font-weight: 600;
                font-size: 2rem;
                span {
                    font-size: 1rem;
                    font-weight: 400;
                }
            }
        }
        .addToCart {
            min-height: 20px;
            button{ 
                margin: auto;
                padding: .5rem 2rem;
                border-radius: .2rem;
                border: none;
                display: block;
                font-weight: 600;
                font-size: 1.2rem;
                background-color: orange;
                color: #fff;
                cursor: pointer;
            }
        }
    }
}

.rating {
    text-align: center;
    padding: .25rem 1rem;
    width: fit-content;
    margin: auto;
    background: #35c4d7;
    color: #fff;
    border-radius: 1rem;
    font-weight: 400;
    &:before {
        content: "⭐";
        display: inline-block;
        width: 25px;
        height: 100%;
    }
}

@media screen and (max-width:1200px){
    .product-list {
        margin: 1rem;
    }
    .product-list .product {
        max-width: 100%;
    }
}

@media screen and (max-width:768px){
    .product-list {
        grid-template-columns: 49% 49%;
    }
    .product-list .product .description {
        overflow: hidden;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: 95%;
            left: 0;
            background: white;
            width: 100%;
            height: 15px;
            filter: blur(2px);
        }
    }
    .product-list .product .title {
        font-size: 1.2rem;
    }
    .product-list .product .rating {
        top: 80%;
    }
}

@media screen and (max-width:500px){
    .product-list .product .addToCart button {
        font-size: .85rem;
        padding: 0.5rem;
    }
    .product-list .product .title {
        font-size: 14px;
    }
    .product-list .product .description {
        font-size: 0.65rem;
    }
    .product-list .product .rating {
        font-size: .85rem; 
    }
    .product-list .product {
        padding: .5rem;
    }
    .product-list .product .imageContent {
        max-height: 200px;
        min-height: 200px;
    }
}

@media screen and (max-width:300px){
    .product-list {
        grid-template-columns: 100%;
    }
}