#search {
    position: fixed;
    top: 20px;
    left: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: .5rem;
    max-width: 500px;
    width: 80px;
    background-color: #fff;
    z-index: 10;
    overflow: hidden;
    &.search-active {
        width: 90vw;
    }
    input {
        padding: .5rem;
        outline: none;
        border: none !important;
        position: relative;
        width: 90%;

    }
    .icon {
        position: absolute;
        right: 5px;
        top: 5px;
        column-gap: .25rem;
        .clearIcon {
            cursor: pointer;
        }
    }
    .searchResultProducts {
        flex-direction: column;
        row-gap: 1rem;
        background-color: #fff;
        border-radius: .5rem;
        padding: 1rem;
        border-top: 1px solid #ebebeb;
        // box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        .sProduct {
            width: 100%;
            justify-content: space-between;
            gap: .5rem;
            text-decoration: none;
            color: inherit;
            &:hover {
                color: orange;
                cursor: pointer;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    #search.active {
        width: 700px;
    }
}