#searchPage {
    .noSearchResults {
        margin: 5rem 2rem;
        background: #fff;
        flex-direction: column;
        border-radius: 2rem;
        padding: 5rem 1rem;
        div {
            width: 350px;
            max-width: 60vw;
            img {
                max-width: 100%;
            }
        }
        p,h2 {
            text-align: center;
        }
    }
    .page-title {
        flex-direction: column;
    }
}