#search {
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 90%;
    background-color: #fff;
    z-index: 10;
    border-radius: .5rem;
    input {
        border-radius: .5rem;
        padding: .5rem;
        outline: none;
        border: none !important;
        position: relative;
        width: 90%;

    }
    .icon {
        position: absolute;
        height: 100%;
        right: 5px;
        top: 0;
        column-gap: 0.25rem;
        background: #fff;
        .clearIcon {
            cursor: pointer;
        }
        .searchIcon {
            a {
                color: inherit;
            }
        }
    }
    .searchResultProducts {
        position: absolute;
        top: 84%;
        width: 100%;
        flex-direction: column;
        row-gap: 1rem;
        background-color: #fff;
        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem;
        padding: 1rem;
        border-top: 1px solid #ebebeb;
        // box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        .sProduct {
            width: 100%;
            justify-content: space-between;
            gap: .5rem;
            text-decoration: none;
            color: inherit;
            &:hover {
                color: orange;
                cursor: pointer;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    #search {
        max-width: 250px;
        &.search-active {
            position: absolute;
            left: 5%;
            top: 50%;
            transform: translateY(-50%);
            width: 500px;
            max-width: calc(100vw - 115px);
        }
    }
}


@media screen and (min-width: 768px) {
    #search.active {
        width: 700px;
    }
}
